@import "../../core_colors.scss";

#online-player-list {
  // max-height: 49vh;
  // height: 49%;
  min-height: 40vh;
  max-height: 40vh;

  overflow-y: scroll !important;
  word-wrap: break-word;
  margin-bottom: 5px;

  .online-player-list__xp {
    text-align: right;
  }

  .online-player-list__unauthenticated {
    background-color: $online-player-list-element__unauthenticated-color;
  }

  .online-player-list__ourself {
    background-color: $online-player-list-element__ourself-color;
  }

  .online-player-list__playing {
    background-color: $online-player-list-element__playing-color;
  }

  .online-player-list__available {
    background-color: $online-player-list-element__available-color;
  }

  .min-padding {
    padding: 1px;
  }
}
// available-color => $green-flashy;
// playing => $red-flashy;
// me => $blue-online;