@import "../../core_colors.scss";

#online-match-list {
  max-height: 49vh;
  height: 49%;
  min-height: 40vh;
  overflow-y: scroll !important;
  word-wrap: break-word;
  margin-top: 5px;

  .min-padding {
    padding: 1px;
  }
}

.online-match-list-element__pending {
  background-color: $online-match-list-element__pending-color;
}

.online-match-list-element__playing {
  background-color: $online-match-list-element__playing-color;
}

.online-match-list-element__finished {
  background-color: $online-match-list-element__finished-color;
}
// online-match-list-element__my-games-color

.online-match-list-element__challenged {
  background-color: $online-match-list-element__challenged-color;
}

.online-match-list-element__my-game {
  background-color: $online-player-list-element__ourself-color;
}

.online-match-list-element__analysis {
  background-color: $online-match-list-element__analysis-color;
}

.online-match-list__action > .online-match-list__play-button {
  background-color: $start-game-button;
  border: 2px solid black;
}

.online-match-list__action > .online-match-list__watch-button {
  background-color: $watch-game-button;
  border: 2px solid black;
}

.online-match-list__action > .online-match-list__watch-button-finished {
  border: 2px solid black;
}