@import "../../../colors.scss";
@import "../../../games/core/core_colors.scss";

#divContainer {
  overflow: hidden;

  // height: calc(100vh); // 52px for the header
  // height: -o-calc(100vh); // opera
  // height: -webkit-calc(100vh); // google, safari
  // height: -moz-calc(100vh); // firefox

  height: calc(100vh - 68px); // 52px for the header
  height: -o-calc(100vh - 68px); // opera
  height: -webkit-calc(100vh - 68px); // google, safari
  height: -moz-calc(100vh - 68px); // firefox
  @media (orientation: landscape) and (min-width: 0px) {
    height: calc(100vh - 64px); // 48px for the header
    height: -o-calc(100vh - 64px); // opera
    height: -webkit-calc(100vh - 64px); // google, safari
    height: -moz-calc(100vh - 64px); // firefox
  }
  @media (min-width: 600px) {
    height: calc(100vh - 80px); // 64px for the header
    height: -o-calc(100vh - 80px); // opera
    height: -webkit-calc(100vh - 88px); // google, safari
    height: -moz-calc(100vh - 80px); // firefox
  }

  // background-image: radial-gradient(
  //   farthest-corner at 40px 40px,
  //   #ddf 40%,
  //   #fff 100% /*    #111 0%,
  //   #66f 100% */
  // );

  background-color: #DDD;

}

#gridContainer {
  height: 100%;
}

.gameContainer {
  overflow-y: scroll;
  height:100%;
  align-content: flex-start; // in order to have no vertical space between rows of games.
}

.marble {
  &.default0 {
    fill: url(#blackMarble);
  }

  &.default1 {
    fill: url(#whiteMarble);
  }

  &.red {
    fill: url(#redMarble);
  }

  &.paleGolden {
    fill: url(#paleGoldenMarble);
  }

  &.eden {
    fill: url(#edenMarble);
  }

  &.rosyBrown {
    fill: url(#rosyBrownMarble);
  }

  &.blackGolden {
    fill: url(#blackGoldenMarble);
  }

  &.cosmic0 {
    fill: url(#cosmicBlackMarble);
  }

  &.cosmic1 {
    fill: url(#cosmicWhiteMarble);
  }


  &.glass0 {
    fill: url(#glassBlackMarble);
  }

  &.glass1 {
    fill: url(#glassWhiteMarble);
  }

  &.fun0 {
    fill: url(#funBlackMarble);
  }

  &.fun1 {
    fill: url(#funWhiteMarble);
  }

  &.selected {
    stroke: #366aff;
    stroke-width: 2;
  }
}

.arrow {
  &.cosmic0 {
    stroke: black; 
  }

  &.cosmic1 {
    stroke: white;
  }

  &.glass0 {
    stroke: black; 
  }

  &.glass1 {
    stroke: white;
  }

  &.fun0 {
    stroke: black;
  }

  &.fun1 {
    stroke: white;
  }  
}


// .square {
//   fill: url(#woodCells);
// }

.square {
  fill: url(#transparentCells);

  &.selected {
    fill: url(#woodCells);
  }

  // fill: url(#transparentCells);
}
.square-selected  {
  stroke: #366aff;
  stroke-width: 2;
}

.triangle {
  opacity: 0.3;
  stroke: #545454;
  fill:url(#triangleGradient);
}

.shadowedTriangle {
  opacity: 0.19;
//  stroke: #9fc221; // 545454
  stroke: #ced495; // 545454
  filter: url(#triangleShadow);
  fill: url(#shadowedTriangleGradient);
}

.gameContainer {
  overflow-y: scroll;
  height:95%;
}

.testvfr {
  height:100%;
}

.chatContainer {
  min-height: 90%
}

.subheader {
  text-align: center;
}

.subheader .button-play {
  background-color: $start-game-button;
  align-self: center;
  display: inline-block;
}