@import '../../../core/core_colors.scss';

.rightAlign {
  float: right;
}

.gamecard-paper > .gamecard-paper__start-game-button {
  background-color: $start-game-button;
}

.gamecard-paper {
  &.match_your_turn {
    border: 1px solid $blue-online;
    border-radius: 5px;
  }
}
