@import "../colors.scss";

// website components
$header-background-color: $black;
$header__logo-icon-hexagon: $white;
$header__logo-icon-text: $blue-online;
$header__logo-icon-alpha: $red;

$header__settings-icon: $white;
$header__replay-icon: $white;
$header__number-of-users-text: $blue-online;
$header__login-button: $blue-online;

$chat__date-color: $aaa;
$chat__author-color: $blue-online;

$replay__selected_game: $blue-online;