@import "../../colors.scss";

// onlinePlayerList
$online-player-list-element__available-color: $green-available;
$online-player-list-element__playing-color: $red-sober;
$online-player-list-element__ourself-color: $blue-online;
$online-player-list-element__unauthenticated-color: $grey-unavailable;

// onlineGameList
$online-match-list-element__available-color: $green-flashy;
$online-match-list-element__pending-color: $green-available;
$online-match-list-element__challenged-color: $yellow;
$online-match-list-element__playing-color: $red-sober;
$online-match-list-element__finished-color: $grey-unavailable;
$online-match-list-element__analysis-color: $purple;
$online-match-list-element__my-games-color: $blue-online;

$start-game-button: $red-flashy;
$watch-game-button: $red-flashy;