@import "../../../site/website.scss";

.chatContainer {
  flex: 1;
//  max-height: 100vh;
  //  height: 300px;
  //  max-height: 50%;
}

#chatContainer {
  // min-height: 40vh;
  // max-height: 40vh;
}

.messagesContainer {
//   height: calc(100vh - 102px); // 52px for the header
//   height: -o-calc(100vh - 68px); /* opera */
//   height: -webkit-calc(100vh - 68px); /* google, safari */
//   height: -moz-calc(100vh - 68px); /* firefox */
//   @media (orientation: landscape) and (min-width: 0px) {
//     height: calc(100vh - 64px); // 48px for the header
//     height: -o-calc(100vh - 64px); /* opera */
//     height: -webkit-calc(100vh - 64px); /* google, safari */
//     height: -moz-calc(100vh - 64px); /* firefox */
//   }
//   @media (min-width: 600px) {
//     height: calc(100vh - 136px); // 64px for the header
//     height: -o-calc(100vh - 136px); /* opera */
//     height: -webkit-calc(100vh - 156px); /* google, safari */ // @TODO: gérer ce putain de décalage :)
//     height: -moz-calc(100vh - 136px); /* firefox */
//   }

//  flex: 1;
//  height: 100vh;
//  max-height: 100vh;
  //  padding-bottom:200px;
  //  margin-bottom:200px;
  //  max-height: 100%;
  //  margin-top: -32px;

  min-height: 60vh;
  max-height: 60vh;

  // margin-bottom: 36px;
  overflow-y: scroll !important;
  word-wrap: break-word;
  // padding-right: 25px;
  font-size: small;
}

// .messageContainer {
//     margin-top: -68Opx;

//     @media (orientation: landscape) and (min-width: 0px) {
//         margin-top: -64px;
//     }
//     @media (min-width: 600px) {
//         margin-top: -36px;
//     }

// }

.messageAuthor {
  color: $chat__author-color;
  font-style: italic;
}

.messageTime {
  color: $chat__date-color;
  font-style: italic;
}

.messageContent {
  background-color: ivory;
  font-weight: bold;
}

.messagesList {
  list-style: none;
  margin-left: -35px;
  margin-bottom: 20px;
}

.messageEvent {
  color: red;
  font-style: italic;
}
