// base colors
$red: red;
$black: #111;
$white: #fff;
$grey: #ddd;
$aaa: #aaa;

$blue-online: #6299ff;
$grey-unavailable: #ccc;
$red-busy: #f77;
$yellow: rgb(220, 240, 42);

$green-flashy: #00FF00;
$red-sober: #d45151;
$red-flashy: #ff0000;
$purple: purple;

// $green-available: rgb(54, 204, 54);
$green-available: #52e45b;//#67c34a;

$green-fine: #52ce52;