.shadowedBoard {
  filter: url(#f3);
}

.default {
  stroke: #a8936a;
  fill: #bfa779;
}

.fun {
  stroke: rgb(119, 107, 119);
  fill: #ceb482;
}

.glass {
  stroke: rgb(119, 107, 119);
  // fill: #969393d4;
  fill: #a7a7a7;
}

// .default { // ERIC PACAU
//   stroke: #585858;
//   fill: #9e9e9e;
// }

// .black { // black
//   stroke: #585858;
//   fill: #050f1d;
// }

.cosmic {
  stroke: #4a55c175;
  fill: #7c8fcc;
}

#svg {
    height: -webkit-calc(100vh - 68px); // google, safari
}