@import "../../website.scss";

#gridContainer {
  height: 100%;
  overflow-y: scroll;
  align-content: flex-start; // in order to have no vertical space between rows of games.
}

.gameContainer {
  overflow-y: scroll;
  height:100%;
  align-content: flex-start; // in order to have no vertical space between rows of games.
}

#divContainer {
  overflow: hidden;

  // height: calc(100vh); // 52px for the header
  // height: -o-calc(100vh); // opera
  // height: -webkit-calc(100vh); // google, safari
  // height: -moz-calc(100vh); // firefox

  height: calc(100vh - 68px); // 52px for the header
  height: -o-calc(100vh - 68px); // opera
  height: -webkit-calc(100vh - 68px); // google, safari
  height: -moz-calc(100vh - 68px); // firefox
  @media (orientation: landscape) and (min-width: 0px) {
    height: calc(100vh - 64px); // 48px for the header
    height: -o-calc(100vh - 64px); // opera
    height: -webkit-calc(100vh - 64px); // google, safari
    height: -moz-calc(100vh - 64px); // firefox
  }
  @media (min-width: 600px) {
    height: calc(100vh - 80px); // 64px for the header
    height: -o-calc(100vh - 80px); // opera
    height: -webkit-calc(100vh - 88px); // google, safari
    height: -moz-calc(100vh - 80px); // firefox
  }

  // background-image: radial-gradient(
  //   farthest-corner at 40px 40px,
  //   #ddf 40%,
  //   #fff 100% /*    #111 0%,
  //   #66f 100% */
  // );

  background-color: #DDD;

}

.selected-game {
  background-color: $replay__selected_game;
}