@import '../../website.scss';

#header {
  background-color: $header-background-color;
  margin-bottom: 10px;

  * {
    margin-right: 40px;
  }
}

.header {
  &__logo-icon-hexagon {
    fill: $header__logo-icon-hexagon;
  }

  &__logo-icon-text {
    fill: $header__logo-icon-text;
  }

  &__logo-icon-alpha {
    fill: $header__logo-icon-alpha;
  }

  &__settings-icon {
    fill: $header__settings-icon;
  }

  &__replay-icon {
    fill: $header__replay-icon;
  }

  &__number-of-users-text {
    color: $header__number-of-users-text;
    margin-left: auto;
  }
}

#header__login-button {
  color: $header__login-button;
}